# PlanAhead Generated physical constraints 

NET "bus_datos_h[7]" LOC = T8;
NET "bus_datos_h[6]" LOC = R8;
NET "bus_datos_h[5]" LOC = U10;
NET "bus_datos_h[4]" LOC = V13;
NET "bus_datos_h[3]" LOC = U13;
NET "bus_datos_h[2]" LOC = P12;
NET "bus_datos_h[1]" LOC = P6;
NET "bus_datos_h[0]" LOC = N5;
NET "bus_datos_l[7]" LOC = R5;
NET "bus_datos_l[6]" LOC = T3;
NET "bus_datos_l[5]" LOC = R3;
NET "bus_datos_l[4]" LOC = V5;
NET "bus_datos_l[0]" LOC = R13;
NET "bus_datos_l[3]" LOC = U5;
NET "bus_datos_l[2]" LOC = V14;
NET "bus_datos_l[1]" LOC = T14;
NET "bus_direcciones[0]" LOC = K18;
NET "bus_direcciones[1]" LOC = K17;
NET "bus_direcciones[2]" LOC = J18;
NET "bus_direcciones[3]" LOC = J16;
NET "bus_direcciones[4]" LOC = G18;
NET "bus_direcciones[5]" LOC = G16;
NET "bus_direcciones[6]" LOC = H16;
NET "bus_direcciones[7]" LOC = H15;
NET "bus_direcciones[8]" LOC = H14;
NET "bus_direcciones[9]" LOC = H13;
NET "bus_direcciones[10]" LOC = F18;
NET "bus_direcciones[11]" LOC = F17;
NET "bus_direcciones[12]" LOC = K13;
NET "bus_direcciones[13]" LOC = K12;
NET "bus_direcciones[14]" LOC = E18;
NET "bus_direcciones[15]" LOC = E16;
NET "bus_direcciones[16]" LOC = G13;
NET "bus_direcciones[17]" LOC = H12;
NET "bus_direcciones[18]" LOC = D18;
NET "bus_direcciones[19]" LOC = D17;
NET "datos_int[0]" LOC = T10;
NET "datos_int[1]" LOC = T9;
NET "datos_int[2]" LOC = V9;
NET "datos_int[3]" LOC = M8;
NET "datos_int[4]" LOC = N8;
NET "datos_int[5]" LOC = U8;
NET "datos_int[6]" LOC = V8;
NET "datos_int[7]" LOC = T5;
NET "salida_leds[0]" LOC = U16;
NET "salida_leds[1]" LOC = V16;
NET "salida_leds[2]" LOC = U15;
NET "salida_leds[3]" LOC = V15;
NET "salida_leds[4]" LOC = M11;
NET "salida_leds[5]" LOC = N11;
NET "salida_leds[6]" LOC = R11;
NET "salida_leds[7]" LOC = T11;
NET "dir_down" LOC = C9;
NET "dir_up" LOC = A8;
NET "mem_write" LOC = C4;
NET "mem_read" LOC = D9;
NET "rst" LOC = B8;
NET "clk" LOC = V10;
NET "clk_mem" LOC = R10;
NET "adv" LOC = H18;
NET "ce" LOC = L15;
NET "lb" LOC = K16;
NET "oe" LOC = L18;
NET "ub" LOC = K15;
NET "we" LOC = M16;
#NET "mem_write" CLOCK_DEDICATED_ROUTE = FALSE;

NET "display[6]" LOC = T17;
NET "display[5]" LOC = T18;
NET "display[4]" LOC = U17;
NET "display[3]" LOC = U18;
NET "display[2]" LOC = M14;
NET "display[1]" LOC = N14;
NET "display[0]" LOC = L14;
NET "control_display[0]" LOC = N16;
NET "control_display[1]" LOC = N15;
NET "control_display[2]" LOC = P18;
NET "control_display[3]" LOC = P17;
